In [1]:
import numpy as np

In [74]:
shapes = ['sine', 'square', 'sawtooth', 'burst']
for shape in shapes:
    for i in range(4):
        path = 'dataset/%s/sample%s/sample.dat' % ()
        data = open('dataset/sine/sample3/sample.dat').read()

In [126]:
data = open('dataset/square/sample5/sample.dat').read()

In [127]:
data[-2]

'U'

In [119]:
#task: figure out how to convert a hex string to a hex int
c = data[-10:]
c

'PP%*U*P%*U'

In [128]:
d_int = [hex(ord(d)) for d in data]
# for d in data:
#     d_int.append(hex(ord(d)))
# d_int

In [129]:
len(d_int)

10240

In [96]:
h = format(ord(c[4]), '#04x')
int()

2

In [24]:
he = 0x04
type(he)

int

In [14]:
data_list = ['{:02x}'.format(ord(c)) for c in data]

In [52]:
data_list2 = [c for c in data]
d = data_list[1]
d
#'{:02x}'.format(ord(d))

'20'

In [56]:
hexlist = [0xa, 0xb]
hexlist[1] * 2

22

In [4]:
len(data_list)

10240

In [77]:
10240/32

320.0

In [5]:
np_array = np.array(data_list)

In [6]:
data_array = np_array.reshape(32,320)
data_array

array([['40', '20', '60', ..., '00', '30', '04'],
       ['00', '00', '30', ..., '08', '01', '00'],
       ['40', '08', '01', ..., '04', '01', '00'],
       ...,
       ['00', '30', '04', ..., '60', '0c', '01'],
       ['00', '60', '08', ..., '20', '00', '00'],
       ['00', '10', '02', ..., '08', '00', '00']], dtype='<U2')

In [12]:
theta_array = np.arange(0,320)
theta_array

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319])

In [10]:
sample_array = data_array[1]
sample_array

array(['00', '00', '30', '04', '00', '00', '20', '04', '00', '00', '00',
       '06', '00', '00', '30', '04', '00', '00', '30', '04', '00', '00',
       '30', '04', '00', '00', '30', '04', '00', '00', '20', '00', '00',
       '00', '30', '04', '00', '00', '10', '04', '00', '00', '10', '06',
       '00', '00', '30', '04', '00', '00', '00', '06', '00', '00', '30',
       '04', '00', '00', '30', '04', '00', '00', '30', '04', '00', '00',
       '20', '04', '00', '00', '00', '06', '00', '00', '30', '04', '00',
       '00', '30', '04', '00', '00', '30', '04', '00', '00', '10', '02',
       '00', '40', '10', '02', '00', '40', '18', '02', '00', '40', '08',
       '01', '00', '40', '00', '01', '00', '00', '0c', '01', '00', '60',
       '0c', '00', '00', '60', '0c', '01', '00', '00', '04', '01', '00',
       '20', '04', '00', '00', '30', '04', '00', '00', '10', '02', '00',
       '40', '10', '00', '00', '00', '18', '02', '00', '40', '18', '02',
       '00', '00', '18', '02', '00', '40', '08', '03', '00', '40', '08',
       '03', '00', '40', '08', '01', '00', '40', '08', '00', '00', '20',
       '04', '00', '00', '20', '00', '00', '00', '10', '02', '00', '40',
       '18', '02', '00', '00', '18', '02', '00', '40', '08', '03', '00',
       '40', '18', '03', '00', '40', '18', '02', '00', '40', '08', '01',
       '00', '40', '08', '01', '00', '60', '08', '01', '00', '20', '04',
       '01', '00', '20', '04', '00', '00', '30', '04', '00', '00', '30',
       '04', '00', '00', '10', '02', '00', '40', '10', '02', '00', '40',
       '18', '02', '00', '40', '18', '00', '00', '40', '08', '01', '00',
       '40', '08', '01', '00', '00', '04', '00', '00', '20', '06', '00',
       '00', '30', '04', '00', '00', '10', '02', '00', '40', '10', '02',
       '00', '40', '18', '02', '00', '00', '08', '01', '00', '40', '08',
       '01', '00', '60', '00', '01', '00', '20', '0c', '01', '00', '20',
       '04', '00', '00', '30', '04', '00', '00', '30', '04', '00', '00',
       '00', '02', '00', '40', '18', '02', '00', '00', '10', '02', '00',
       '40', '18', '02', '00', '40', '18', '02', '00', '40', '08', '01',
       '00'], dtype='<U2')

In [11]:
theta_array * sample_array

UFuncTypeError: ufunc 'multiply' did not contain a loop with signature matching types (dtype('<U21'), dtype('<U21')) -> dtype('<U21')

In [81]:
data = open('dataset/sine/sample1/sample.dat').read()
data_list = ['{:02x}'.format(ord(c)) for c in data]
np_array = np.array(data_list)
np_array
np_array1 = np_array.reshape(32,320)
np_array1

array([['06', '44', '02', ..., '20', '04', '30'],
       ['04', '20', '04', ..., '04', '30', '04'],
       ['30', '04', '20', ..., '42', '10', '02'],
       ...,
       ['20', '04', '30', ..., '10', '06', '20'],
       ['04', '30', '04', ..., '10', '02', '10'],
       ['42', '10', '42', ..., '20', '04', '30']], dtype='<U2')

In [92]:
data_array1 = np.append(data_array, np_array1,axis=0)
data_array1.shape

(64, 320)